<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <h2>Oops...</h2>
        <p>Hi, there our site is undergoing some regular maintance work. We'll be back within an hour. :)</p>
        {{> footer}}

    </body>
</html>
